<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feels wrong</title>
</head>
<body>
    <div class="heart v mind">
        <p>him:How can I miss her?<br>
            She meant everything to me...<br>
            Did she ever loved me or was it just me...<br>
            Did she even deserved me..<br>
            I still have feelings for her<br>
            <br>
        <>:I know it sounds hard but you have to move on<br>
            Maybe you'll find another one<br>
            <br>
        him:What if she isn't like her?<br>
            What if she was the one?<br>
            I still think about her<br>
            <br>
        <>:You weren't even together<br>
            It was all just in your mind<br>
            You have to learn to let go<br>
            
        him:Why do I even get jealous when she's with another on<br>
            Why Is she still in my head<br>
            WWhat if she's fine?<br>
            It's my mind that's wrong<br>
            And I just let bad thoughts<br>
            Linger for far too long<br>
            <br>
        <>:She doesn't even love you<br>
            She already told you many times<br>
            It's just your imagination<br>
            Stop thinking about her and start doing something with your live<br>
            You don't live long so stop wasting it<br>
            Start being productive and spend as much time with your loved ones as you can<br>
            <br>
        Him:Is she one of my loved ones?<br>
        <br>
        <>:I can't decide who you love.<br>
            I'm not your heart<br>
            <br>
        Him:I still remember the times I spend with her<br>
        <br>
        <>:She will remember how hard you annoyed her<br>
        <br>
        Him:I could've done more for her.<br>
        <br>
        <>:You did enough for her<br>
            You should ignore her she doesn't even love you<br>
            <br>
        Him:She will get hurt from this and will think I'm an asshole<br>
        <br>
        <>:She won't if she doesn't love you<br>
        <br>
        Him:But she always giving me these signs to me<br>
        <br>
        <>:She's just being kind.<br>
            She would rather love you as a brother<br>
            Stop think that she's loving you she doesn't<br>
            <br>
        Him:But I just can't...<br>
        <br>
        *Wakes Up*
        </p>
</div>
</body>
</html>